@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-heading: "Open Sans", "sans-serif";
    --font-text: "Poppins", "sans-serif";

    --breakpoint-xxs: 350px;
    --breakpoint-xs: 390px;
    --breakpoint-3xl: 1800px;
    --breakpoint-max: 2200px;

    --color-primary-400: #b31c83;
    --color-primary-600: #9b146e;

    --color-background-dark-400: #181818;
    --color-background-dark-800: #000000;

    --color-background-light-400: #fff;

    --color-font-light: #ffffff;
    --color-font-dark: #000000;
}

@layer base {
    html {
        @apply scroll-smooth scroll-p-10 antialiased;
    }
    body {
        @apply bg-white dark:bg-background-dark-400 font-text font-light text-font-dark dark:text-font-light overflow-x-hidden;
    }

  
}

@layer utilities {
    .topbar__link {
        @apply relative flex justify-center items-center gap-2 text-xs;
    }
    .topbar__link-icon {
        @apply size-4 group-hover:text-primary-400 duration-300;
    }
    .topbar__link-text {
        @apply !hidden lg:!block;
    }

    .link-hover {
        @apply relative w-fit block 
            after:block after:content-[''] after:absolute after:h-[1px] 
            after:bg-primary-400 after:w-[75%] after:scale-x-0 
            after:transition after:duration-300 after:origin-left 
            hover:after:scale-x-100;
    }

    .link-hover--light{
         @apply relative w-fit block 
            after:block after:content-[''] after:absolute after:h-[1px] 
            after:bg-background-light-400 after:w-[75%] after:scale-x-0 
            after:transition after:duration-300 after:origin-left 
            hover:after:scale-x-100;
    }

    .nav__item--active {
        @apply xl:text-primary-400 font-bold;
    }

    .section {
        @apply py-6 lg:py-12;
    }
    .wrapper{
        @apply max-w-screen-xl mx-auto px-6 2xl:px-0
    }


    .prose__preheading{
        @apply font-medium font-heading text-primary-400
    }
    .prose__heading{
        @apply !mb-6 !mt-2 text-3xl font-heading !text-font-dark dark:!text-font-light
    }
    .prose__content{
        @apply prose dark:prose-invert prose-a:no-underline text-font-dark dark:text-font-light prose-h2:text-primary-400 prose-h3:text-primary-400 prose-ul:ps-0 prose-ul:sm:ps-4
    }

    .btn-active{
  @apply text-font-light bg-primary-400 hover:bg-primary-600 hover:text-font-light 
}

}

.outlined-text {
    color: transparent; /* przezroczysty środek */
    -webkit-text-stroke: 1px #b31c83; /* biały kontur */
    text-stroke: 1px #b31c83; /* dla przeglądarek wspierających */
}

.projectsCarousel--js .swiper-slide {
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: #ccc; /* domyślny kolor */
}

.projectsCarousel--js .swiper-slide-active {
    transform: scale(110%);
}

.projectsCarousel--js .swiper-slide-active .project-info {
    opacity: 1;
}


.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}